.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar{
      background-color: black !important;
  }
   .navbar-brand{
      padding-right: 15px;
      
   }
   .nav-item {
    margin: 0px 15px;
   }
   .carouselButton1{
    background-color:#F03738 !important;
} 

.carouselButton2{
    background-color:#f3bb1c !important;
    color:black !important;
} 

.bannerBlock{
    height: 375px;
}
.topBannerImg{
    float:left;
    padding-right: 30px;
}

body{
    background-color: black;
}
  #home {
    color: #B57BFF;
}
#why {
    color: #F3BB1C;
}
#parents {
    color: #5EC85D;
}
#cook {
    color: #F03738;
}
#account {
    color: #3E66FB;
} 
.IndieFlower{
    font-family: 'Indie Flower', cursive;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-item{
    font-family: 'Indie Flower', cursive;
    color:#3E66FB;
}

/**** log in page ******/


.emailContain {
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    height: 500px;
   }
    
 .logInButton{
     background-color: #5ec85d !important ;
 }




   /* Footer form */
   form {
    width: 500px;
    margin: 35px auto;
    padding: 45px;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: white;
   }
   