.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar{
      background-color: black !important;
  }
   .navbar-brand{
      padding-right: 15px;
      
   }
   .nav-item {
    margin: 0px 15px;
   }
   

body{
    background-color: black;
}
  #home {
    color: #B57BFF;
}
#why {
    color: #F3BB1C;
}
#parents {
    color: #5EC85D;
}
#cook {
    color: #F03738;
}
#account {
    color: #3E66FB;
} 
.IndieFlower{
    font-family: 'Indie Flower', cursive;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-item{
    font-family: 'Indie Flower', cursive;
    color:#3E66FB;
}